*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilda Display', serif;
}
.App {
  text-align: center;
  
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Navbar /iconos*/

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;

 
}
.logoLetra{
  font-size: 60px;
  color: black;
  text-decoration: none;
}
.logoLetra:hover{
  color: #585658;
}
/* Navbar */
ul li a {
 text-decoration: none;
 font-size: 30px;
 font-variant: small-caps;
 font-feature-settings: "c2pc";
 margin: 3px;
  color: black;
  
 
}
ul li a:hover{
  color: #585658;
}
 
ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  list-style: none;
}





.button-gold{
  border-color: white;
    background-color: #00000035;
    color: aliceblue;
}

.contador{
  font-family: 'Gilda Display', serif;
  font-size: 1.5rem;
  padding-top: 50px;

}

.mas{
  height: 40px;
  width: 30px;
}
.menos{
  height: 40px;
  width: 30px;
}


button.addCart{
  background-color: black;
  border-color: white;
  color: aliceblue;
  font-family: 'Gilda Display', serif;
  font-size: 1.5rem;
  

}

.contadorSpan{
  color: black;
  font-family: 'Gilda Display', serif;
  font-size: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  
}

.prenda{
  color: black;
}
 .stock{
  color: black;
}
  .precio{
  color: black;
}

.listaProductos{
  display: flex;
  justify-content: space-around;
}
 
.loader{
  color:black ;
  margin-top: 300px;
}


.verMas{
 display: flex;
 justify-content: center;
 background-image: url("https://previews.123rf.com/images/tatianakost/tatianakost1412/tatianakost141200076/34561912-esquema-ropa-femenina-de-moda-y-complementos-sin-fisuras-patr%C3%B3n-de-desgaste-incompleto-style-woman-e.jpg");
 width: 100%;
 

}

/* .boton{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 250px ;
  justify-content: center;
} */

.cart-widget{
  font-size: 35px;
  color: #0B0D11;
}
.cart-widget:hover{
  color: #9a9fa8;
}

.shopping
{
	display: inline-flex;
	margin-left: 111px;
	padding-right: 161px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}
.shopping a
{
	display: inline-block;
	margin-right: 10px;
}
.shopping a:last-child
{
	margin-right: 0;
}
.cart_num_container,
.star_num_container
{
	position: absolute;
	top: 23px;
	left: -5px;
	width: 20px;
	height: 20px;
	background: black;
	border-radius: 50%;
}
.cart_num_inner,
.star_num_inner
{
	width: 100%;
	height: 100%;
}
.cart_num,
.star_num
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 600;
	color: #FFFFFF;
}
.compra{
 padding-top: 30px;
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Arial Narrow', Arial, sans-serif;
   
}

.check{
  padding-top: 50px;
justify-content: center;
font-family:    'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.oe{
 
  padding-top: 80px;
  
}
.contenedor{
  background-color: #00000035;
}

.carrusel{
  padding-top:0px;
  box-shadow: 10px 10px 30px #00000035;
}
.fondo{
  background-image: url("https://previews.123rf.com/images/tatianakost/tatianakost1412/tatianakost141200076/34561912-esquema-ropa-femenina-de-moda-y-complementos-sin-fisuras-patr%C3%B3n-de-desgaste-incompleto-style-woman-e.jpg");
}
.cargando{
  padding-top: 50px;
}

.form{
  height: 50px;
  width: 100px;
}

.ca{
  font-size: x-small;
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

.form-box{
  background-color: #0B0D11;
  padding: 3vh;
  border-radius: 8px;
  margin: 5vh;
  height: 70vh;
  margin-top: 3px;
  margin-bottom: 5vh;
}

.pago{
  color: antiquewhite;
  justify-content: center;
}

.form-check{
  color: antiquewhite;
  justify-content: center;
}

.label{
  color: antiquewhite;
  justify-content: center;
}

.resume{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.imgItem{
  height: 70px;
  width: 80px;
}

.form-cont{
  background-image: url("https://previews.123rf.com/images/tatianakost/tatianakost1412/tatianakost141200076/34561912-esquema-ropa-femenina-de-moda-y-complementos-sin-fisuras-patr%C3%B3n-de-desgaste-incompleto-style-woman-e.jpg");
}

@media (max-width: 600px) {
  .resume{
    flex-direction: column;
  }
  .dates {
    display: none;
  }
  .btns{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 5px;
   }
   /*Logo */
   .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
  
   
  }
  .logoLetra{
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  .logoLetra:hover{
    color: #585658;
  }

  /*Menu */
  
  ul li a {
   text-decoration: none;
   font-size: 13px;
   
  }
   
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    list-style: none;
  }

  /*cart */
  .cart-widget{
    font-size: 20px;
    color: #0B0D11;
  }
  .cart-widget:hover{
    color: #9a9fa8;
  }
  
  .shopping
  {
    display: inline-flex;
    margin-left: 111px;
    padding-right: 161px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  .shopping a
  {
    display: inline-block;
    margin-right: 10px;
  }
  .shopping a:last-child
  {
    margin-right: 0;
  }
  .cart_num_container,
  .star_num_container
  {
    position: absolute;
    top: 15px;
    left: -1px;
    width: 13px;
    height: 13px;
    background: black;
    border-radius: 50%;
  }
  .cart_num_inner,
  .star_num_inner
  {
    width: 100%;
    height: 100%;
  }
  .cart_num,
  .star_num
  {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: 600;
    color: #FFFFFF;
  }

  

   
}









